<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gobeike.demo" >
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.gobeike.startClock" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailClock"
            android:label="@string/title_activity_detail_clock" >
            <intent-filter>
                <action android:name="com.gobeike.clock.detail" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".NextClockBroadCast"
             >
            <intent-filter>
                <action android:name="com.gobeike.nextclock.broadcast" />
            </intent-filter>
        </receiver>




        <!--ku-->
        <service android:name="com.gobeike.library.clock.ClockService" >
            <intent-filter>

                <action android:name="com.gobeike.library.clock.ALARM_ALERT" />

            </intent-filter>
        </service>
        <receiver android:name="com.gobeike.library.clock.AlarmInitReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.gobeike.library.clock.AlarmReceiver">
            <intent-filter>
                <action android:name="com.gobeike.library.clock.ALARM_ALERT" />
                <action android:name="alarm_killed" />
                <action android:name="cancel_snooze" />
            </intent-filter>
        </receiver>
    </application>


</manifest>
